@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
  --font-color: white;
}

html {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

i {
  margin: 5px;
}

/* Layout */
.page-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  display: flex;
}

.menu-sidebar {
  width: 250px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

.menu-sidebar img {
  margin-bottom: 20px;
}

.menu-sidebar u,
li {
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-playlist {
  padding: 5px 10px;
  font-size: 30px;
  margin-right: 10px;
  font-weight: 700;
  cursor: pointer;
}

.card-group {
  flex-grow: 1;
  background-color: #141922;
}

/* Footer-player */
.card-player {
  flex-grow: 0;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

.song-icons {
  width: 20%;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  color: var(--font-color);
}

.col-center {
  width: 50%;
  justify-content: center;
}

.btn-icons {
  color: var(--font-color);
  font-size: 30px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.btn-icons :nth-child(3) {
  font-size: 50px;
}

.d_line-menu {
  display: flex;
  align-items: center;
  justify-content: center;

}

.line-minute {
  width: 500px;
  display: block;
  height: 2px;
  background-color: white;
  margin: 0px 10px;
}

.d_line-menu span {
  color: var(--font-color);
}

.col-30 {
  width: 30%;
}

.btn-icons_right {
  color: var(--font-color);
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-icons_right .line-minute {
  width: 100px;
}




/* Media queries */
@media (max-width: 575px) {
  .menu-sidebar {
    width: 50px;
  }

  .song-icons {
    width: 20%;
    padding-left: 20px;
    display: flex;
    flex-wrap: nowrap;
  }

  .song-icons img {
    height: 50px;
  }

  .col-center {
    width: 30%;
    margin-left: auto;
  }

  .btn-icons {
    color: var(--font-color);
    font-size: 20px;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: space-around;

  }

  .btn-icons :nth-child(3) {
    font-size: 30px;
  }

  .btn-icons_right {
    width: 30%;
    color: var(--font-color);
    gap: 2px;
  }
}